<!--
  Generated template for the CreateUserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Cadastro Usuário</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <form novalidate [formGroup]="registerForm" (ngSubmit)="submitForm()">
      <ion-list>
        <ion-item>
          <ion-input type="text" placeholder="Nome"
            formControlName="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="email" placeholder="Email"
            formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" placeholder="Senha"
            formControlName="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" placeholder="Confirma Senha"
            formControlName="confirmPassword"></ion-input>
        </ion-item>
      </ion-list>
      <div class="padding">
        <button type="submit" ion-button block [disabled]="registerForm.invalid">Criar Conta</button>
      </div>
    </form>
</ion-content>
