
<ion-content padding>
  <h1>Bem vindo de volta!</h1>

  <form novalidate [formGroup]="loginForm" (ngSubmit)="submitLogin()">
    <ion-list>
      <ion-item>
        <ion-input type="email" placeholder="Email"
          formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" placeholder="Senha"
          formControlName="password"></ion-input>
      </ion-item>
    </ion-list>
    <div class="padding">
      <button type="submit" ion-button block [disabled]="loginForm.invalid">Criar Conta</button>
    </div>
  </form>
</ion-content>
