<ion-content padding>
  <h1 class="custom-title">Bem vindo ao Firebase Login!</h1>
  <div class="container-buttons">
    <button ion-button outline block [navPush]="'create-user'">Criar conta</button>
    <button ion-button outline block [navPush]="'login'">Fazer login</button>
  </div>
</ion-content>
